# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/

# IDE - JetBrains
.idea/

# OS specific
.DS_Store

data/~$online-retail.xlsx
notebooks/test.ipynb